
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
*{
    font-family: "Kode Mono", monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-image: url(images/white.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
    position: relative;
}
.content{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: black;
    font-size: x-large;
    font-weight: 400;
}
.content h1 span{
    color: #0f52ba;
}
.content button{
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    padding: 12px 25px;
    color: #fff;
}
.launch-time{
    display: flex;
}
.launch-time div{
    flex-basis: 100px;
}
.launch-time div p{
    font-size: 60px;
    margin-bottom: -14px ;
}
.phone{
    width: 250px;
    position: absolute;
    right: 10%;
    bottom: 0;
}


/*I had to check youtube tutorials to understand how to add hover effects, i just wanted to add style and difference to my work*/
#navbar li a:hover,
#navbar li a.active {
    color: #0f52ba;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #0f52ba;
    position: absolute;
    bottom: -4px;
    left: 20px ;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}